body {
    background: #fafafa;
    color: #432144;
    margin-top: 7rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .navbar-color {
    background-color: #FFDEDE;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #c88b8b;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .register-form {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
