body {
    background: #fafafa;
    color: #432144;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }

  hr {
    border-bottom: 1px solid #FFDEDE;
  }
  
  .navbar-color {
    background-color: #FFDEDE;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #c88b8b;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .main-content {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

    .site_logo {
    width: 175px;
    height: 75px;
  }

  .landing_page_navbar {
    padding-bottom: 20px;
  }

  #landing_page_header {
    background-image: url("../images/jumbotron_image.jpg");
    background-size: cover;
    background-position: center;
  }

  #landing_page_header h1 {
    color: white;
    margin-bottom: 400px;
  }

  #landing_page_header a {
    background-color: #FFC2C2;
    color: white;
    text-decoration: none;
    transition: all .3s;
    padding: 10px;
  }

  #landing_page_header a:hover {
    color: #c88b8b;
  }

  #landing_page_body {
    margin-top: 50px;
  }

  #landing_page_body .landing_page_nav_link {
    color: #c88b8b;
    transition: .3s;
    font-size: x-large;
  }

  #landing_page_body .landing_page_nav_link:hover {
    color: #FFC2C2;
  }

  /* BASE HTML */
  .user-information-menu {
    margin-top: 10px;
  }

  #user-profile-picture {
    border: 1px solid silver;
  }

  #main-page-tasks {
    padding: 20px;
  }

  .app-link {
    background-color: #c88b8b;
    color: white;
  }

  .app-link:hover {
    background-color: white;
    color: #c88b8b;
    border: 1px solid #c88b8b;
  }

  /* ABOUT US */

  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
  }

  .card-deck {
    padding-top: 20px;
  }

  .card {
    border: 2px solid #c88b8b;
  }

  .card img {
    border-bottom: 2px solid #c88b8b;
  }

  .about-header {
    border-bottom: 1px solid #c88b8b;
    padding-bottom: 20px;
  }

  /* NAVIGATION BAR */

  .navbar-custom {
    background-color: #c88b8b;
    padding: 20px;
    -webkit-box-shadow:0px 2px 2px grey;
    -moz-box-shadow:0px 2px 2px grey;
    box-shadow: 0px 2px 2px grey;
  }

  #navbar1 {
    padding: 20px;
  }

  #navbar1 li,
  #navbar1 li a {
    display: block;
  }

  #navbar1 li a {
    border-radius: 1px;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
    background-color: #FFC2C2;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: large;
    transition: all 0.3s;
    color: white;
  }

  #navbar1 li a:hover {
    border-radius: 1px;
    box-shadow: 0px 0px 0px 2px rgba(200, 139, 139, 0.3);
    color: #FFC2C2;
    text-decoration: none;
    background-color: #c88b8b;
  }

  #dropdown-menu {
    background-color: rgba(233, 233, 233, 0.5);
    transition: all 0.3s;
  }

  #dropdown-menu:hover {
    opacity: 0.5;
  }

  /* GENERAL MAIN CONTENT */

  #main {
    padding-top: 20px;
  }

  .form-group button {
    background-color: #c88b8b;
    border: 1px solid white;
    color: white;
  }

  .form-group button:active:focus {
    color: black;
  }

  .form-group button:hover {
    border: 1px solid #c88b8b;
    color: #c88b8b;
    background-color: white;
  }

  /* USER PROFILE */

  .user-profile {
    display: block;
    margin: auto;
  }

  .user-profile-info {
    border-radius: 20px;
    background-color: white;
  }

  .user-profile-info a {
    background-color: #c88b8b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
  }

  .user-profile-info a:hover {
    text-decoration: none;
    border: 1px solid #c88b8b;
    color: #c88b8b;
    background-color: white;
  }

  /* CONTACT US */

  .contact-us .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .contact-us h1 {
    color: #c88b8b;
    text-shadow: 2px 0.5px 2px #ffffff;
  }

  .contact-us .card-text {
    color: #efefef;
  }

  .contact-us .card-title {
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }

  .contact-us a {
    color: #FFC2C2;
    transition: all 0.3s;
  }

  .contact-us a:hover {
    text-decoration: none;
    color: white;
  }

  .contact-links {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
  }

  .contact-links a {
    color: black;
  }

.easter-egg {
  animation-name: roll;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes roll {
  100% {
      transform: rotate(360deg);
  }
}
  /* FRIDGE */

  .items {
    padding-bottom: 10px;
  }

  .items {
    color: #c88b8b;
    transition: all 0.3s;
  }

  .items:hover {
    text-decoration: none;
    color: #FFC2C2;
  }

  .add-btn {
    background-color: #BEDCFF;
    color: black;
    transition: all 0.3s;
  }

  .add-btn:hover {
    background-color: white;
    color: #BEDCFF;
    border: 1px solid #BEDCFF;
  }

  .add-btn:active {
    background-color: #BEDCFF;
    color: #5C5C5C;
  }

  .recipe-btn {
    color: white;
    background-color: #C88B8B;
    transition: all 0.3s;
  }

  .recipe-btn:hover {
    color: #c88b8b;
    background-color: white;
    border: 1px solid #c88b8b;
  }

  .btn-secondary-custom {
    background-color: #FFE9BE;
    color: black;
  }

  .btn-secondary-custom:hover {
    background-color: white;
    color: #FFE9BE;
    border: 1px solid #FFE9BE;
  }

  .btn-danger-custom {
    background-color: #974343;
    color: white;
  }

  .btn-danger-custom:hover {
    background-color: white;
    color: #974343;
    border: 1px solid #974343;
  }

  .btn-primary-custom {
    color: white;
    background-color: #C88B8B;
  }

  .btn-primary-custom:hover {
    color: #c88b8b;
    background-color: white;
    border: 1px solid #c88b8b;
  }

  .btn-primary-custom-2 {
    background-color: #FFC2C2;
    color: black;
  }

  .btn-primary-custom-2:hover {
    color: #FFC2C2;
    background-color: white;
    border: 1px solid #FFC2C2;
  }

  #btn-section {
    border-left: 1px solid silver;
  }

  .ingredient {
    text-transform: capitalize;
  }

  /* TASK TRACKER */

  .task-title a {
    color: #c88b8b;
    transition: all 0.3s;
  }

  .task-title a:hover {
    color: #FFC2C2;
    text-decoration: none;
  }

  /* DEBUG CHANGES */

  #myModal {
    margin: 100px;
  }
