{% extends 'base/base.html' %}
{% block content %}
    <legend class="border-bottom mb-4">
        Heat Map
    </legend>
    <div class="container">
        <!--<iframe width="650" height="400" title="2019-nCoV"
  src="//arcgis.com/apps/Embed/index.html?webmap=14aa9e5660cf42b5b4b546dec6ceec7c&extent=77.3846,11.535,163.5174,52.8632&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"
></iframe>-->
    <iframe class="col" title="Coronavirus COVID-19 Global Cases by Johns Hopkins CSSE" width="500" height="400" src="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"></iframe>
    <p><i>Source: Johns Hopkins Center for Systems Science and Engineering.</i></p>
    </div>
{% endblock content %}