{% extends 'base/base.html' %}
{% block content %}
<legend class="border-bottom mb-4">
    Heat Map
</legend>
<div>
    <!--<iframe width="650" height="400" title="2019-nCoV"
  src="//arcgis.com/apps/Embed/index.html?webmap=14aa9e5660cf42b5b4b546dec6ceec7c&extent=77.3846,11.535,163.5174,52.8632&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"
></iframe>-->
    <iframe class="col" title="Coronavirus COVID-19 Global Cases by Johns Hopkins CSSE" width="1450" height="1100"
        src="https://experience.arcgis.com/experience/a6f23959a8b14bfa989e3cda29297ded"></iframe>
    <p><i>Source: Provincial Health Services Authority | BC Centre for Disease Control.</i></p>
</div>
{% endblock content %}