{% extends 'task_tracker/../base/base.html' %}
{% block content %}
<div class="container">
	<h1 class="pb-2">Our Team</h1>
	<div class="main-content">
		<div class="media">
			<img class="account-img" src="/media/about_pics/jun.jpg" width="200" height="200">
			<div class="media-body">
				<h2 class="account-heading">Jun Yeon (Jooney)</h2>
				<p>hello world</p>
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="media">
			<img class="account-img" src="/media/about_pics/choi.png" width="200" height="200">
			<div class="media-body">
				<h2 class="account-heading">Choi Song</h2>
				<p>hello world</p>
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="media">
			<img class="account-img" src="/media/about_pics/jessica.jpg" width="200" height="200">
			<div class="media-body">
				<h2 class="account-heading">Jessica Hong</h2>
				<p>hello world</p>
			</div>
		</div>
	</div>

	<div class="main-content">
		<div class="media">
			<img class="account-img" src="/media/about_pics/duncan.jpg" width="200" height="200">
			<div class="media-body">
				<h2 class="account-heading">Duncan Keen</h2>
				<p>hello world</p>
			</div>
		</div>
	</div>
{% endblock content %}
