{% extends 'task_tracker/../base/base.html' %}
{% block content %}

    <h1 class="text-center about-header">ABOUT US: TEAM FOUR TEN EDITION</h1>

    <div class="card-deck">
        <!-- JUN -->
        <div class="card">
            <img src="/media/about_pics/jun.jpg" class="card-img-top" alt="jun">
            <div class="card-body">
                <h5 class="card-title">JUN YEON (JOONEY)</h5>
                <p class="card-text">I am an avid Python3 user. I love Mexican food, and I have no middle name. <br><br>
                Through this app, I hope our users can feel more motivated to get things done during this pandemic.</p>
            </div>
        </div>

        <!-- CHOI -->
        <div class="card">
            <img src="/media/about_pics/choi.jpg" class="card-img-top" alt="choi">
            <div class="card-body">
                <h5 class="card-title">CHOI SONG</h5>
                <p class="card-text">Avid Python user. I enjoy trading, playing Hearthstone and board games, and traveling! <br><br>
                I hope to become a data scientist and work in the FinTech sector. I like sushi.</p>
            </div>
        </div>

        <!-- JESSICA -->
        <div class="card">
            <img src="/media/about_pics/jessica.jpg" class="card-img-top" alt="jess">
            <div class="card-body">
                <h5 class="card-title">JESSICA HONG</h5>
                <p class="card-text">Beginner at programming but I really enjoy using Python and love designing front-end.<br><br>
                A few things I'm passionate about: Eating, dancing, playing the piano, and travelling to new places.
                </p>
            </div>
        </div>

        <!-- DUNCAN -->
        <div class="card">
            <img src="/media/about_pics/duncan.jpg" class="card-img-top" alt="duncan">
            <div class="card-body">
                <h5 class="card-title">DUNCAN KEEN</h5>
                <p class="card-text">I made the switch from engineering to computer science and am now an aspiring developer.<br><br>
                I hope you like our app!</p>
            </div>
        </div>
    </div>

{% endblock content %}
