{% extends 'task_tracker/../base/base.html' %}
{% block content %}

    <h1 class="text-center about-header">ABOUT US: TEAM FOUR TEN EDITION</h1>

    <div class="card-deck">
        <!-- JUN -->
        <div class="card">
            <img src="/media/about_pics/jun.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">JUN YEON (JOONEY)</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>

        <!-- CHOI -->
        <div class="card">
            <img src="/media/about_pics/choi.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CHOI SONG</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>

        <!-- JESSICA -->
        <div class="card">
            <img src="/media/about_pics/jessica.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">JESSICA HONG</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>

        <!-- DUNCAN -->
        <div class="card">
            <img src="/media/about_pics/duncan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DUNCAN KEEN</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>

{% endblock content %}
