{% extends 'base/base.html' %}
{% block content %}

    <div class="card bg-dark text-white contact-us">
      <img src="/media/contact_pics/vancouver-canada-east-side-skyline.jpg" class="card-img" alt="vancouver-img">
      <div class="card-img-overlay">
        <h1 class="card-title">CONTACT US: TEAM FOUR EDITION</h1>

        <h5>WHERE ARE WE LOCATED?</h5>
          <p class="card-text">We are located in Vancouver, British Columbia!</p>

        <h5>WHERE ARE WE STUDYING?</h5>
          <p class="card-text"><a href="https://www.bcit.ca/">British Columbia Institute of Technology!</a></p>

          <h5>HOW TO REACH US?</h5>
          <div class="contact-links">
              <p class="card-text"><a href="https://www.linkedin.com/in/yeonseongjun/">JUN YEON</a></p>
              <p class="card-text"><a href="https://www.linkedin.com/in/choisong/">CHOI SONG</a></p>
              <p class="card-text"><a href="https://ca.linkedin.com/in/jessica-hong-09804a122">JESSICA HONG</a></p>
              <p class="card-text"><a href="https://www.linkedin.com/in/duncan-keen/">DUNCAN KEEN</a></p>
          </div>

      </div>
    </div>
{% endblock content %}
