{% extends 'base/base.html' %}
{% load static %}
{% block content %}
	<h1>URL paths test</h1>

    <div class="row no-gutters bg-light position-relative">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="{% static 'main/images/test.jpeg' %}" class="w-100" alt="task-feature">
      </div>/
      <div class="col-md-6 position-static p-4 pl-md-0">
        <h5 class="mt-0">Columns with stretched link</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <a href="{% url 'task-tracker-home' %}" class="stretched-link">Go somewhere</a>
      </div>
    </div>
{% endblock content %}