{% extends 'base/base.html' %}
{% include 'task_tracker/home.html' %}
{% load static %}
{% block content %}
    <legend class="mb-2">Hello {{ username }}!</legend>
    <legend>Apps</legend>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <a href='{% url 'task-tracker-home' %}'>Task Tracker</a>
            </div>
            <div class="col">
                <a href="{% url 'forums-main' %}">Forums</a>
            </div>
            <div class="col">
                Fridge
            </div>
            <div class="col">
                <a href="{% url 'heat-map-main' %}">Map</a>
            </div>
        </div>
    </div>
    <legend>Today's tasks</legend>
    <div class="container">
    {% if tasks %}
        {% for task in tasks %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-2">
                <p>Task: <a href="{% url 'task-detail' task.id %}">{{ task.title }}</a></p>
                </div>
                <div class="col-4">
                    <p>Date Start: {{ task.date_start }}</p>
                </div>
                <div class="col-4">
                    <p>Description: {{ task.description }}</p>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'task-update' task.id %}'">Edit</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'task-delete' task.id %}'">Delete</button>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    {% if not tasks %}
        <div class="card mb-3">
            <div class="row no-gutters">
                No tasks for today!
            </div>
        </div>
    {% endif %}
    </div>
    <legend>Forum Posts</legend>
    <div class="container mb-2">
        {% for post in posts %}
            <div class="container">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col">
                            <p>Topic Category: {{ post.title.capitalize }}</p>
                        </div>
                        <div class="col">
                            img or video here to share accomplishment for said task.
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col">
                            <p>Posted by: {{ post.posted_by }}</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-4">
                            <p>Date Start: {{ post.posted_date }}</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-4">
                            <p>Description: {{ post.description }}</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <p class="col-3">Likes: {{ post.likes }}</p>
                        <form>
                            <input type="submit" name="{{ post.id }}" value="Like">
                            <input type="submit" name="comment" value="Comment">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}