{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card mb-3 user-profile" style="max-width: 675px">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if user.profile.image %}
                    <img src="{{ user.profile.image.url }}" class="card-img" alt="user-profile-picture">
                {% else %}
                    <img src="/media/default.jpg" class="card-img" alt="user-profile-picture">
                {% endif %}
            </div>

            <div class="col-md-8">
                <div class="card-body user-profile-info">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">{{ user.email }}</p>
                    <p class="card-text"><small class="text-muted"><a href="{% url 'update-profile' %}">Update Profile Information</a></small></p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}