{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <a class="btn btn-primary-custom" href="{% url 'forums-main' %}">Forums Home</a>
    <br>
    <br>
    <legend>Your Preferred Forums:</legend>
    {% for subforums in forums %}
        <a class="btn btn-primary-custom-2" href="{% url 'subforum-home' subforums.pk %}">{{ subforums.name.capitalize }}</a>
    {% endfor %}

    <legend class="border-bottom m-4">
        Posts
    </legend>

    {% if posts %}
        {% for object in posts %}
            <div class="card col-12 mb-3">
                    <div class="row">
                        <div class="col-7">
                             <a href="{% url 'post-detail' object.id %}">

                                 <h1 class="card-title">{{ object.title }}</h1>

                            <div class="row no-gutters">
                                <p class="col-3 card-text" style="font-size: 10px;">Category: {{ object.sub_forum.category.category }}</p>
                                <p class="col-3 card-text" style="font-size: 10px;">Posted by: {{ object.posted_by }}</p>
                            </div>
                             <div class="row no-gutters">
                                <p class="col card-text" style="font-size: 10px;">{{ object.posted_date }}</p>
                             </div>
                            <div class="row no-gutters mb-5 card-body">
                                <div class="col-8">
                                    <p>{{ object.description }}</p>
                                </div>
                            </div>
                             </a>
                        </div>
                        <div class="col-5">
                            <img src="{{ object.media.url }}" class="img-fluid">
                        </div>
                    </div>
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fa fa-thumbs-up"></i>
                        <input type="button" class="like btn btn-secondary-custom" name="{{ object.pk }}" value="Likes {{ object.total_likes }}" />
                    </div>

                    <div class="col-2">
                        <input type="button" class="btn btn-primary-custom-2" value="{{object.comments.count}} Comments" onclick="location.href='{% url 'post-detail' object.pk %}'"/>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {


            $(".like").click(function () {
                let $thisPost = $(this);
                $thisPost.html("Dislike");
                $.ajax({
                    type: "POST",
                    url: "{% url 'like' %}",
                    data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                   dataType: "json",
                   success: function(response) {
                        $thisPost.val("Likes " + response.likes);
                    },
                    error: function(rs, e) {
                           alert('error!');
                    }
                });
            });


        });
    </script>
{% endblock javascript %}
