{% extends 'base/base.html' %}
{% block content %}
<h1>Task tracker test</h1>
<div class="container">
    {% if object.user == user %}
    <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'task-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'task-delete' object.id %}">Delete</a>
    </div>
    {% endif %}
    <h1>{{ object.title }}</h1>
    <h1>{{ object.description }}</h1>
    <h1>{{ object.date_start }}</h1>
    <h1>{{ object.duration }}</h1>
</div>
{% endblock content %}